@model IEnumerable<resume.Domain.Entities.Education.Education>

@{
    ViewData["Title"] = "Index";
    Layout = "_AdminLayout";
}

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
           @*  <th>
                @Html.DisplayNameFor(model => model.Id)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.EducationTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EducationDuration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @* <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td> *@
            <td>
                @Html.DisplayFor(modelItem => item.EducationTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EducationDuration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discription)
            </td>
            <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.Id}) |
                    @*@Html.ActionLink("Details", "Details", new { id = item.Id }) |*@
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
